<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    publish
                </i>
                Registro
            </a>
            <a mat-list-item routerLink="/search">
                <i class="material-icons">
                    search
                </i>
                Cadastros
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>

