<div class="container">
  <form [formGroup]="clientForm" class="form mat-elevation-z8">
    <h1><b>Seja Bem-Vindo(a) - Registre-se!</b></h1>

    <mat-label>Nome</mat-label>
    <input matInput id="nome" name="nome" class="form-control" formControlName="nome">
    <input matInput id="cpf" name="cpf" class="form-control" formControlName="cpf">
    <input matInput id="dataNascimento" name="dataNascimento" class="form-control" formControlName="dataNascimento">


    <button type="submit" class="full-width mat-elevation-z4" mat-raised-button color="primary"
      (click)="this.onSubmit()">Registrar</button>
    <button type="reset" class="full-width mat-elevation-z4" mat-button color color="warn">Cancelar</button>
  </form>
</div>